# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Local
*.pyc
**/__pycache__

# Serverless directories
.serverless
/node_modules/

sandwich

# Ignore lock files
package-lock.json
yarn.lock
yarn-error.lock